/*---Reset---*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------------End Of CSS Reset-----*/
/*---variable---*/
/*custom.scss*/
/*mixins*/
body {
  position: relative; }

body, footer {
  background-color: #FFFFFF;
  color: #fff;
   }

/*---------------------------Test CSS --------------*/
.container div:nth-child(n + 1) {
  height: 100%;
  background-color: #e65d5e; }

.container div:nth-child(n + 2) {
  height: 100%;
  background-color: #e43e3f; }

.container div:nth-child(n + 3) {
  height: 100%;
  background-color: #d53629; }

.container div:nth-child(n + 4) {
  height: 100%;
  background-color: #b82e21; }

@media screen and (max-width: 600px) {
  .container div {
    width: 100%; } }

.tim_wraper {
  background-color: indigo; }
  .tim_wraper .tim_status .active {
    color: #fff; }
  .tim_wraper .tim_content .tim_watch {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff; }
  .tim_wraper .tim_watch_display span {
    display: inline-block;
    margin-left: 15px; }
    .tim_wraper .tim_watch_display span:nth-child(1) {
      font-size: 1.75rem; }
    .tim_wraper .tim_watch_display span:nth-child(2) {
      font-size: 1.75rem; }
    .tim_wraper .tim_watch_display span:nth-child(3) {
      position: relative;
      top: 3px; }
  .tim_wraper .refresh {
    position: absolute;
    left: 25%; }
    .tim_wraper .refresh .white {
      color: #fff; }
